@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.quiz-app,
.score-message {
  width: 40vw;
  color: black;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quiz-header {
  text-align: center;
  border-bottom: 3px solid purple;
  padding-bottom: 1rem;
}

.quiz-header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.quiz-body h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 0;
}

.options .correct-answer {
  color: rgba(193, 255, 193, 0.757);
  background-color: green;
}

.options .wrong-answer {
  color: black;
  background-color: red;
}

.options button {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  text-align: start;
  padding: 0.7rem 1rem;
}

.quiz-footer {
  min-height: 5rem;
  border-top: 3px solid purple;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-footer p {
  font-weight: bold;
}

button {
  border: none;
  border-radius: 10px;
  padding: 0.8rem 2rem;
  cursor: pointer;
}

.next,
.restart-button {
  border-radius: 25px;
  background-color: black;
  color: white;
}

.score-message {
  align-items: center;
}

.score-message h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.score-message h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.red-text {
  color: red;
}

.gray-text {
  color: gray;
}

.green-text {
  color: green;
}

.restart-button {
  width: fit-content;
}

.credit {
  text-align: center;
  margin-top: 1rem;
}

@media (max-width: 900px) {
  .quiz-app,
  .score-message {
    width: 80vw;
  }
}
